<div class = "container">
    <div class="row">
        <div class="col">
            YOU ARE
            <mat-form-field>
                <mat-select value = "CSR Trust">
                    <mat-option value="CSR Trust">CSR Trust</mat-option>
                    <mat-option value="Corporate">Corporate</mat-option>
                    <mat-option value="School">School</mat-option>
                    <mat-option value="Individual">Individual</mat-option>
                    <mat-option value="NGO">NGO</mat-option>
                    <mat-option value="Foundation/ Trust">Foundation/ Trust</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class = "row">
        <div class = "col-lg">
            <mat-form-field class="full-width">
                <input matInput placeholder="FULL NAME">
            </mat-form-field>
        </div>
        <div class="col-lg">
            <mat-form-field class="full-width">
                <input matInput placeholder="JOB TITLE">
            </mat-form-field>
        </div>
    </div>
    <div class = "row">
        <div class = "col-lg">
            <mat-form-field class="full-width">
                <input matInput placeholder="ORGANISATION">
            </mat-form-field>   
        </div>
        <div class="col-lg">
            <mat-form-field class="full-width">
                <input matInput placeholder="CITY">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="full-width">
                <input matInput placeholder="MOBILE NO">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="full-width">
                <input matInput placeholder="EMAIL">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="full-width">
                <input matInput placeholder="MESSAGE (Optional)">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class ="col">
            <button mat-stroked-button>Submit</button>
        </div>
    </div>
</div>