.bar1 {
    height: 135px;
    display: flex;
    font-size: 22px; 
    justify-content: center;
    align-items: center;
}

.text1 {
    color: #616161;
    padding-right: 8px;
}

.text2 {
    color: #0000ee;
}

.text4 {
    font-size: 14px;
    margin-top: 23px;
    color: #dbdbdb;;
}

.bar2 {
    height: 175px;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to right,#2799dd,#2658cc);;
}

.post {
    display: flex;
    justify-content: left;
}

.fa-lg {
    margin-left: 15px;
}

.form-control {
    border-radius: 5px 0px 0px 5px;
    width: 300px;
}

.text3 {
    color: #dbdbdb;
    margin-top: 70px;
}

.x {
    font-size: 25px;
}

.mail {
    background-color: black;
    padding-left: 12px;
    width: 60px;
    border-radius: 0px 5px 5px 0px;
    height: 38px;
}

.icon {
    margin-top: 4px;
}

.bar3 {
    height: 70px;
    display: flex;
    justify-content: space-around;
    background-color: #050707;
}